@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    font-family: Inter, system-ui, "Fira Sans", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: black;
    background-color: white;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-width: none;
}
// variables for breakpoints
$breakpoint-xs: 350px;
$breakpoint-xxs: 440px;
$breakpoint-sm: 576px;
$breakpoint-600: 600px;
$breakpoint-ssm: 660px;
$breakpoint-md: 768px;
$breakpoint-mmd: 860px;
$breakpoint-lg: 960px;
$breakpoint-llg: 1050px;
$breakpoint-xl: 1100px;
$breakpoint-xxl: 1200px;
// global font size 
html {
    font-size: 62.5%;
}
// 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// to all anchor tags
a {
    text-decoration: none;
    color: black;
}
// to all images
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    transition: all .5s;
    overflow: hidden;
    &:hover { transform: scale(1.1) }
} 
// reusable Media Query
@mixin mediaQuery($breakpoint: 0) {
    @media (min-width: $breakpoint) { @content; }
}
@mixin responsiveImage($wd) {
    @include mediaQuery($breakpoint-xs) { height: 22rem; }
    @include mediaQuery($breakpoint-xxs) { height: 30rem; }
    @include mediaQuery($breakpoint-sm) { height: 45.8rem; width: $wd; }
}

// to all sections 
section {
    // border-bottom: 0.5px solid rgba($color: #000000, $alpha: .1);
    margin: 2rem 2.5rem 0 2.5rem;
    @include mediaQuery($breakpoint-xxl) {
        max-width: 120rem;
        margin: 2rem auto 0 auto;
    }
}

// header section
.header-section {
    > h1 {
        font-size: 4.4rem;
        line-height: 4.4rem;
        font-weight: bolder;
        margin-bottom: 1rem;
    }
    .span-border {
        height: 1px;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: .4);
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: start;
        list-style-type: none;
        padding: 0.8rem 0;
        border-top: 0.5px solid rgba($color: #000000, $alpha: .2);
        border-bottom: 2px solid rgba($color: #000000, $alpha: .8);
        li {
            text-transform: uppercase;
            font-size: 1.1rem;
            line-height: 1.1rem;
            cursor: pointer;
            padding-right: 0.8rem;
            &:not(:first-child) {
                padding-left: 0.8rem;
                border-left: 0.5px solid rgba($color: #000000, $alpha: .2);
            }
            &:hover { text-decoration: underline; }
        }
    }
}
// main article section
.main-article-section {
    padding-top: 0.5rem;
    // height: 65rem;
    @include mediaQuery($breakpoint-md) { height: 65rem }
    @include mediaQuery($breakpoint-xl) { height: 72rem }
    > div {
        @include mediaQuery($breakpoint-md) {
            display: grid;
            grid-template-columns: 2.35fr 1fr;
            height: 25rem;
        }
        .grid-left {
            width: 100%;
            display: block;
            padding-bottom: 2rem;
            cursor: pointer;
            border-bottom: .5px solid rgba($color: #000000, $alpha: .13);
            @include mediaQuery($breakpoint-md) { 
                padding-right: 3rem;
                border-right: .5px solid rgba($color: #000000, $alpha: .13);
                border-bottom: none; 
                width: unset;
            }
            .image-container {
                height: 17rem;
                width: 85vw;
                margin: 0 auto 1rem auto;
                object-fit: cover;
                overflow: hidden;
                @include responsiveImage(unset);
                @include mediaQuery($breakpoint-md) { height: 31.8rem }
                @include mediaQuery($breakpoint-lg) { height: 40.5rem }
                @include mediaQuery($breakpoint-llg) { height: 43.8rem }
                @include mediaQuery($breakpoint-xl) { height: 54rem }
            }
            // 
            .news-details {
                max-width: 90%;
                margin-right: auto;
                @include mediaQuery($breakpoint-md) { 
                    width: 80%;
                    margin: 0 auto;
                }
                .news-heading {
                    font-size: 2.2rem;
                    @include mediaQuery($breakpoint-md) { text-align: center; }
                }
                .news-description {
                    font-size: 1.4rem;
                    @include mediaQuery($breakpoint-md) { text-align: center; }
                }
                .post-author {
                    color: #727272;
                    font-size: 1.1rem;
                    font-weight: 500;
                    line-height: 1rem;
                    margin: .7rem 0;
                    @include mediaQuery($breakpoint-md) { text-align: center; }
                } 
            }
            &:hover {
                .news-heading { text-decoration: underline; }
                > .news > .image-container > img { transform: scale(1.1); }
            } 
        }
        .grid-right {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            list-style-type: none;
            margin-left: 0;
            @include mediaQuery($breakpoint-md) {  margin-left: 3rem; }
            > li {
                @include mediaQuery($breakpoint-md) { padding: .5rem 0 .5rem 0; }
                @include mediaQuery($breakpoint-mmd) { padding: 2.5rem 0 2rem 0; }
                &:first-child { padding-top: 0; }
                &:last-child{ padding-bottom: 0; }
                // 
                .side-news {
                    display: block;
                    padding: 2.1rem 0 1.9rem 0;
                    border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
                    @include mediaQuery($breakpoint-md) { 
                        padding: 0; 
                        display: unset; 
                        border-bottom: none;
                    }
                    // 
                    &__sec {
                        display: flex;
                        flex-direction: column;
                        @include mediaQuery($breakpoint-md) {
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                    // 
                    &__image {
                        @include responsiveImage(unset);
                        object-fit: cover;
                        overflow: hidden;
                        order: 0;
                        @include mediaQuery($breakpoint-md) { 
                            order: unset; 
                            width: 7.5rem;
                            height: 7.5rem;
                        }
                    }
                    // 
                    &__heading {
                        width: 90%;
                        font-size: 2.2rem;
                        line-height: 2.5rem;
                        font-weight: 700;
                        order: 1;
                        @include mediaQuery($breakpoint-md) { 
                            order: unset; font-size: 2rem; width: 70%;}
                    }
                    // 
                    &__details {
                        display: block;
                        font-size: 1.4rem;
                        margin: 1rem 0;
                        width: 90%;
                        @include mediaQuery($breakpoint-md) { display: none; }
                        @include mediaQuery($breakpoint-xl) { display: block; width: unset;}
                    }
                    // 
                    .post-author {
                        color: #727272;
                        font-size: 1.1rem;
                        font-weight: 500;
                        line-height: 1rem;
                        margin: .5rem 0 1rem 0;
                        @include mediaQuery($breakpoint-mmd) { margin-top: 2rem; }
                        @include mediaQuery($breakpoint-xl) { margin-top: .7rem; }
                    }
                    // 
                    &:hover{
                        .side-news__heading { text-decoration: underline; }
                        .side-news__image > img { transform: scale(1.1); }
                    }
                }
            }
        }
    }
}
// 
// latest and search section styling
// 
.latest-and-search-section {
    margin-top: 4rem;
    // height: 100rem;
    border-top: 2px solid rgba($color: #000000, $alpha: 1.0);
    // 
    > .unOrder-list {
        list-style-type: none;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba($color: #000000, $alpha: .3);
        // 
        > li {
            cursor: pointer;
            // 
            .btn {
                @include mediaQuery($breakpoint-ssm) {
                    font-size: 1.8rem;
                    width: 14rem;
                    padding: 1rem;
                }
                font-size: 1.4rem;
                font-weight: 400;
                color: rgba($color: #000000, $alpha: .7);
                display: inline-block;
                text-align: center;
                width: 10rem;
                padding: 0.5rem 1rem;
                border-bottom: 1px solid #fff; 
                // 
                &:hover,
                &:active {
                    font-weight:500;
                    color: #000000;
                    fill: #000000;
                    border-bottom: 1px solid rgba($color: #000000, $alpha: 1.0);
                    .btn__svg{ fill: #000000; }
                }  
                // 
                &__svg {
                    width: 1.5rem;
                    fill: #ccc;
                }
            }
        }
    }
    > .latest-news-col {
        padding-top: 3rem;
        // 
        .grid {
            display: grid;
            grid-template-columns: 100% 0;
            gap: 4rem;
            // 
            @include mediaQuery($breakpoint-llg) {
                grid-template-columns: 75% 20%;
                gap: 6rem;
            }
            // 
            &__first-col {
                list-style-type: none;
                // 
                > li {
                    // 
                    &:not(:first-child) {
                        margin-top: 1rem; 
                        @include mediaQuery($breakpoint-md) { margin-top: 2rem; }
                    }
                    // 
                    &:not(:last-child) {
                        border-bottom: 1px solid #ccc;
                        padding-bottom: 1.5rem; 
                        @include mediaQuery($breakpoint-md) { padding-bottom: 2rem; }
                    }
                    // 
                    .small-news {
                        cursor: pointer;
                        display: unset;
                        @include mediaQuery($breakpoint-xs) {
                            display: grid;
                            grid-template-columns: 3fr 1fr;
                        }
                        @include mediaQuery($breakpoint-sm) { grid-template-columns: 1fr 3fr 0.7fr; }
                        @include mediaQuery($breakpoint-md) { grid-template-columns: 1fr 2fr 1fr; }
                        gap: 2rem;
                        // 
                        &__post-author {
                            display: none;
                            order: unset;
                            @include mediaQuery($breakpoint-sm) {      
                                display: block;                          
                                order: 0;
                                margin-top: 2rem;
                                color: #727272;
                                font-size: 1.1rem;
                                font-weight: 400;
                                line-height: 1rem;
                                text-align: center;
                                > span {
                                    display: block;
                                    margin: 1rem 0;
                                }
                            }
                        }
                        // 
                        &__details {
                            order: 1;
                            // 
                            > p {
                                font-size: 1.3rem; 
                                @include mediaQuery($breakpoint-md) { font-size: 1.6rem; }
                            }
                            // 
                            > .date-and-time {
                                display: block;
                                color: #727272;
                                font-size: 1.1rem;
                                font-weight: 400;
                                line-height: 1rem;
                                margin: 1rem 0;
                                @include mediaQuery($breakpoint-sm) { display: none; }
                            }
                        }
                        // 
                        &__heading {
                            font-size: 1.7rem;
                            line-height: 2rem;
                            max-width: 47rem;
                            font-weight: 400;
                            margin-bottom: .8rem;
                            @include mediaQuery($breakpoint-sm) {
                                font-size: 2rem;
                                font-weight: 500;
                                line-height: 2.5rem;
                                margin-bottom: 1.5rem;
                            }
                            @include mediaQuery($breakpoint-md) {
                                font-size: 2.4rem;
                                font-weight: 500;
                                line-height: 3.3rem;
                                margin-bottom: 2rem;
                            }
                        }
                        // 
                        &__image {
                            object-fit: cover;
                            height: 10rem;
                            width: 15rem;
                            overflow: hidden;
                            @include mediaQuery($breakpoint-ssm) {
                                height: 14rem;
                                width: 20.5rem;
                            }
                            order: 2;
                        }
                        // 
                        &:hover {
                            .small-news__heading{ text-decoration: underline; }
                            .small-news__image > img { transform: scale(1.1); }
                        }
                    }
                }
            }
            // container for ads
            &__second-col {
                display: none;
                @include mediaQuery($breakpoint-llg) {
                    background-color: #fff;
                    display: block;
                }
            }
        }
    }
}   